*{
    margin: 0px;

}
body{
    background-image: url(back_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.police{
    font-size: 70px;
    display: flex;

}
.azgar{
    color: red;
}
.azgza{
    color: blue;
}
.adal{
    color: rgb(3, 205, 40);
}
.anilj{
    color: rgb(248, 244, 7);
}
.abrkan{
    color: rgb(169, 69, 16);
}

.logo{
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}
.inf{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5rem;
}
.inf input{
    padding: 0.5rem;
    margin: .5rem;
    border-radius: 8px;
}
.inf button{
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-top: 2rem;
    background-color: rgb(119, 119, 227);
    color: white;
    border-radius: 2rem;
}
@media screen and(min-width:900px) { 
    .inf {
        padding: 1px;
        margin: 15rem;
        border-radius: 8px;}
    
}